*.suo
*.sln
*.suo
*.ide
*.dll
*.pdb
*.mdb
*.user
*.apk
*.txt
*.xml
*.class
*.jar
*.suo
*.ide
*.flag
*.config
*.dex
*.java
DASL/DASL/DASL.Android/obj/Debug/android/bin/packaged_resources
*.jm
*.mj
*.CopyComplete
*.cs
*.cache
*.zip
*.deployment
*.stamp
*.png
*.aidl
DASL/DASL/DASL.Android/obj/Debug/_dex_stamp
*.cache
DASL/.vs/DASL/v15/.suo
*.ide
DASL/.vs/DASL/v15/.suo
*.sln
*.user
*.xml
*.cs

*.props
*.axml
*.json
*.csproj
*.plist
*.xaml
*.nupkg
*.targets
*.xbf
*.pri
*.md
*.shproj
*.projitems